In [13]:
age=int(input("Enter age:"))
wt=int(input("Enter weight:"))
import pandas as pd

if(age<15 and wt<40):
    mm="child"
    df=pd.read_csv('Regimen 1\childs.csv',encoding = 'ISO-8859-1')    
    df
else:
    mm="adult"
    if(wt<40):
        param="less"
    elif(wt<55):
        param="inter"
    else:
        param="gt"
    df=pd.read_csv('Regimen 1\dult.csv',encoding = 'ISO-8859-1')
    ww=df[["Anti-TB Drugs",param]]
    ww
df
#print("The following list of drugs you need to take for two weaks:")
#medi=""
#for s in df["Anti-TB Drugs"]:
 #   medi=medi+str(s)+" "+df[df[]]

Enter age:12
Enter weight:67

   Anti-TB Drugs  less    gt  inter
0     Isoniazid    300   300    300
1      Rifampin    300   300    300
2  Pyrazinamide   1000  1500   2000
3    Ethambutol    800  1200   1600